.backButton {
   position: absolute;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   background: #e8ecfb;
   transition: transform .2s ease-in;

   &:hover,
   &:focus,
   &:active {
      filter: brightness(0.9);
      transform: scale(1.1);
   }
}

.fullScreenModeContainer {
   padding: 0px;
}