.grid {
  max-width: 1280px; // todo move to variable, web standard
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  //width: 100%;
  grid-gap: 24px;
  height: calc(100vh - 75px);

  grid-template-areas: "details"
                       "contactList"
                       "history";

  @media (min-width:801px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    flex-direction: row;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 80px minmax(1fr, auto);
    grid-gap: 64px;
    padding: 42px;
    grid-template-areas: "details history "
                         "details history"
                         "contactList history"
  }
}

.details {
  grid-area: details;
  background: #fff;
  border-radius: 30px;
  padding: 32px;


}

.composeBox {
  grid-area: composeBox;
    background: #fff;
  border-radius: 30px;
  padding: 32px;


}

.contactList {
  grid-area: contactList;
  background: #fff;
  border-radius: 30px;
  padding: 32px;
}
.history {
  grid-area: history;
    background: #fff;
  border-radius: 30px;
  padding: 32px;
  height: fit-content;
}

.heading {
  position: relative;
  display: block;
  &::before {
    content: " ";
    position: absolute;
    width: 200px;
    height: 2px;
    //background: var(--gray-color-2);
    bottom: -9px;
  }
}

