

.contactList {
  grid-area: contactList;
  list-style: none;
  padding: 0;
}

.listItem {
  cursor: pointer;
  padding: 0px 24px;
}
.listItem:hover {
  background-color: var(--gray-100);
}

.listItem:not(:last-of-type) {
  border-bottom: 1px solid var(--gray-300);
}