.noteContainer {
  display: flex;
  justify-content: space-between;
}

.noteContent {
  width: fit-content;
  font: Roboto;
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 14px;
  & * {
    margin: 4px 0;

    text-decoration: underline;
    text-decoration-color: var(--gray-400);
  }
}

.pin {
  position: absolute;
  left: 10px;
  top: 8px;
  transform: rotate3d(1, 2, 2, -25deg);
  color: var(--gray-700);
  height: 0.8rem;
}

.note {
  padding: 12px;
  margin-bottom: 8px;
  border: 1px solid var(--gray-200);
}

.noteData {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 16px
}

.actions {
  margin-right: -16px;
  color: var(--gray-700)
}