/* panel layout mechanics */
.menuWrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   width: 30em;
   transform: translateX(100%);
   transition: .3s ease-out;
}
.menu {
   /*position: absolute;*/
   /*top: 0;*/
   /*bottom: 0;*/
   /*left: 0;*/
   /*right: 0;*/
   /*background: #333;*/
   /*color: #eee;*/
   /*overflow: auto;*/
   /*padding: 1em;*/
}

.menuOpen {
   transform: translateX(0%);
}

