@font-face {
    font-family: mona-sans-black;
    src: url('../fonts/Mona-Sans-Medium.woff');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: mona-sans-black, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

.cta {
    color: var(--primary-color);
}

.cta:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-black {
    color: black !important;
}

ul li {
    list-style-type: none;
}