@font-face {
    font-family: mona-sans-black;
    src: url('../fonts/Mona-Sans-Medium.woff');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 200;
}

* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family:  mona-sans-black, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    /*background: var(--background-color);*/
    background: linear-gradient(270deg, #f7fdff 0%, #f7f7ff 100%)


}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

.cta {
    color: var(--primary-color);
}

.cta:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-black {
    color: black !important;
}

ul li {
    list-style-type: none;
}

.text-bg-color {
    color: var(--background-color);
}

.border-dark-1 {
    border: solid 1px var(--gray-color-1);
}

.border-dark-2 {
    border: solid 1px var(--gray-color-2);
}

.border-dark-3 {
    border: solid 1px var(--gray-color-3);
}

.border-dark-4 {
    border: solid 1px var(--gray-color-4);
}

.border-dark-5 {
    border: solid 1px var(--gray-color-5);
}

.capitalise {
    text-transform: capitalize;
}

.capitaliseFirstLetter {
    text-transform: lowercase;
}
.capitaliseFirstLetter:first-letter {
    text-transform: capitalize;
}

.p-button.p-button-link,
.p-button.p-button-text {
    color: var(--gray-800)
}

.p-button.p-button-link:hover,
.p-button.p-button-link:active,
.p-button.p-button-link:focus,
.p-button.p-button-text:hover,
.p-button.p-button-text:focus,
.p-button.p-button-text:active {
    color: var(--gray-700)
}

.ql-editor {
    word-break: break-word !important;
}

.w25 {
    width: 25%;
}