:root {
    --primary-color: #3B82F6;
    --primary-color-hover: #2e78f1;
    --gray-color-1: #e0e0e0;
    --gray-color-2: #d5d5d5;
    --gray-color-3: #c1c1c1;
    --gray-color-4: #acabab;
    --gray-color-5: #999999;
    --background-color: #F6F5F9;

    --dark-color-1: #313044;
    --md-code-bg-color: #e0e0e0
}
