.label {

}

.subLabel {
  color: var(--gray-600);
  margin-top: 4px;
  font-size: 0.9rem;
}

.addressContainer:not(:last-of-type) {
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.addressCity {
  color: var(--gray-800);
}

.addressState {
  color: var(--gray-700);
  font-size: 0.9rem
}