.openPanelButton {
   z-index: 10;
   background: #1C1C1C;
}

.signOutButton {
   border: none;
   width: 100%;
   margin-top: 12px;
   padding: 12px 24px;
   background: transparent;
   color: white;
   text-align: left;

   &:hover,
   &:focus,
   &:active {
      background: #EDEDED;
      color: var(--dark-color-1);
   }

   & span {
      margin-left: 12px;
   }
}